<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>Currently I am a Computer Programming student at Seneca College, Canada. Basically, I am from the county of
        flavours, colors, festivals, numerous languages and culture live together with peace , yes I am from INDIA . I
        completed my high school in year 2021 with Mathematics ,Physics and Chemistry which was pretty cool and
        interesting.</p>
      <p>I am professionally a Classical dancer and can perform various other dance styles , I trained in Classical
        dance for 15 years as I started when i was 3years old. I performed all over my country and it all was a nice and
        challenging experience to meet people from different background and perform with them. </p>
      <p>Not only this I am also a motivational speaker and MUN speaker. When I talk about public speaking ,I always
        remember that being a speaker was not an easy journey for me or may be the most challenging as I was always shy
        a around public but my constant hardwork and consistency and several stage performance made me the famous
        speaker in my State and that made me to meet the Prime Minister of my country INDIA. </p>
      <p>All all these other passions I stated my career as a student of Computer Programming as computer and apps
        always facinates me and being curious from early age suggests me be a web developer in future. My main motive to
        lear this amazing course is to help my country with new technology and provide them knowledge regarding the
        upcoming innovations. </p>
            </article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>Stay tuned....</p>
</aside>
</div>